<h1>Login</h1>

<%= form_with url: '/sessions', method: 'post', data: {turbo: false} do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit 'Log In' %>
  </div>
<% end %>
