<main class="container">
  <h1>All Events</h1>
  <% if @events.empty? %>
    <p>No events to show</p>
  <% else %>
    <ul>
      <% @events.each do |e| %>
        <li class='event-card'>
          <%= link_to e, class: 'docile-link' do %>
            <h3> <%= e.title %> </h3>
            <p><%= e.description.slice(0..60) + '...' %></p>
            <div class='details'>
              <p class='creator'>created by: <%= e.user.username %></p>
              <p class='date'>event on: <%= e.date %></p>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</main>
