<!DOCTYPE html>
<html>
  <head>
    <title>AccessiblePrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% if flash[:notice] %>
      <p class='flash notice'><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class='flash alert'><%= flash[:alert] %></p>
    <% end %>

    <nav>
      <%= link_to 'will you attend?', root_path, class: :logo %>
      <ul>
        <li><%= link_to :Home, root_path %></li>
        <% if logged_in? %>
          <li><%= link_to :logout, logout_path %></li>
        <% else %>
          <li><%= link_to :signup, signup_path %></li>
          <li><%= link_to :login, login_path %></li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
